{% extends "base.html" %}
{% load static %}

{% block title %} Lista de Jugadores {% endblock %}
{% block content %}

<table>

<tr>
	<td>{{Player.name_player}} </td>
	<td>{{Player.surname_player}}</td>
	<td>{{Player.nickname}}</td>
	<td>{{Player.number}}</td>
	<td>{{Player.position}}</td>
	<td>{{Player.name_team}}</td>
	<td>{{Player.name_team2}}</td>
	<td>{{Player.active}}</td>

</tr>

</table>

{% endblock %}