{% extends "base.html" %}
{% load static %}

{% block title %} Lista de Jugadores {% endblock %}
{% block content %}

<table>

{% for Team in Teams %}

<tr>
	<td>{{Team.name_team}} </td>
	<td>{{Team.no_jugadores}}</td>
	<td>{{Team.coach}}</td>
	<td>{{Team.campionship}}</td>
	<td>{{Team.season}}</td>

</tr>
{% endfor %}

</table>

{% endblock %}