{% extends "base.html" %}
{% load static %}

{% block title %} Lista de Estadios {% endblock %}
{% block content %}

<table>

{% for Stadium in Stadiums %}

<tr>
	<td>{{Stadium.name_stadium}} </td>
	<td>{{Stadium.name_team}}</td>
	<td>{{Stadium.capacity}}</td>
	<td>{{Stadium.pet}}</td>

</tr>
{% endfor %}

</table>

{% endblock %}